<div class="msg" style="color: red; float: right;">
<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>
</div>

<h3>Add New Meal</h3>
<form action="/meals" method="post">
<p>
<label for="name">Name </label>
<input type="text" name="meal[name]" id="name">
</p>
<p>
<label for="calories">Calories </label>
<input type="text" name="meal[calories]" id="calories">
</p>
<p>
<label for="carbohydrates">Carbohydrates </label>
<input type="text" name="meal[carbohydrates]" id="carbohydrates">
</p>
<p>
<label for="protein">Protein </label>
<input type="text" name="meal[protein]" id="protein">
</p>
<p>
<label for="fat">Fat </label>
<input type="text" name="meal[fat]" id="fat">
</p>
<input type="submit" value="Add Meal">
</form>